[user]
	email = will@willhaley.com
	name = will
[color]
        ui = auto
        diff = auto
        interactive = auto
        status = auto
        branch = auto
[core]
        editor = vim
[push]
        default = matching
