# Specify bucket name for remote
export CLOUD_BACKUP_DESTINATION=RcloneName:bucket
# Do *not* specify bucket name for remote
export CLOUD_BACKUP_DESTINATION_CRYPT=RcloneName:
export BACKUP_SERVER=
export BACKUP_SOURCE=$HOME
export IS_SERVER=true
