"*":
  "autocomplete-plus":
    scopeBlacklist: [
      ".comment"
    ]
  core:
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "whitespace"
    ]
    followSymlinks: true
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "src/github.com"
      "node_modules"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: true
    fontSize: 16
    invisibles: {}
    normalizeIndentOnPaste: false
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    softWrap: true
    tabLength: 4
    tabType: "auto"
  "exception-reporting":
    userId: "c30acda4-6a20-9253-aedc-72c97879f992"
  gofmt:
    formatTool: "gofmt"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
